 body, html{
    height: 100%;
    margin: 0;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/john-fowler-RsRTIofe0HE-unsplash.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Raleway Bold', 'Roboto Thin';

}

form{
    background-color: white;
    position: absolute;
    height: auto;
    width: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
    border-radius: 20px;
}

h2 {
    font-size: 55px;
    margin: 0px;
}

.form-input-material{
    margin: 12px 0;
}


input{
    font-size: 1.1rem;
    border-radius: 15px;
    border-width: 1px;
    border-color: grey;
    height: 30px;
    text-align: left;
    padding: 7px 0 7px 20px;
    width: 91%;
}

/*
input[type=password]{
    padding: 7px 20px;
}
*/
 


.btn{
    width: 100%;
    border-radius: 20px;
    border: 0;
    display: block;
    margin: 18px 0 9px 0;
    font-size: 1.1rem;
    color: white;
    border-color: white;
    padding: 14px 20px;
    background-color: rgb(141, 165, 166);
}


